{{! This is where users can see expanded posts and click on add comment button }}
<section class="posts">
	<div class="card">
		<div class="card-header">
			<div class="card-title"><h3><a href="/posts/{{id}}"> {{title}}</a></h3></div>
			<div class="card-datetime"><p>Posted by:{{username}} at {{format_date date_created}}</p></div>
		</div>
		<div class="card-body">
			<p>{{post_content}}</p>
		</div>
	</div>
</section>