{{!-- This is where users can see their dashboard of a list of their posts, and add a new post --}}
<section class="user-dashboard">
		{{#if post.length}}
			<section class="post-overview-card">
    			<div class="post-title">Your Posts</div>
    			<div class="card-body">
        			<ul class="post-list">
            			{{#each post}}
            			<a href="/dashboard/edit/{{id}}">
                			<li class="post-list-item" >
                    			<div>{{title}}</div>
                    			<div>{{date_created}}</div>
                			</li>
            			</a>
            			{{/each}}
        			</ul>
    			</div>
			</section>
		{{/if}}
	{{!-- {{#each posts as |post|}}
		<section class="posts-overview">
			<div class="post-overview">
				<div class="post-overview-card">
					<div class="post-title">
						<h3>
							<a href="/post/{{id}}">{{title}}</a>
						</h3>
					</div>
					<div class="post-datetime">
						<p>Posted by: {{username}} at {{date_created}}</p>
					</div>
				</div>
			</div>
		</section>
	{{/each}} --}}

	{{!--  --}}

    {{!-- {{#each posts as |post|}}
    {{> posts post}}
    {{/each}} --}}

	{{!--  --}}
	
    <div id="create-post-btn">
        <button type="submit" class="new-post-btn btn"><i class="fas fa-plus"></i> CREATE NEW POST</button>
    </div>
</section>

<section id="create-post-card" class="add-post hide">
	<div class="card">
		<div class="card-header">
			<div class="card-title">Create New Post</div>
		</div>
		<div class="card-body">
			<form id="new-post-form">
				<label for="new-post-title" class="form-label">TITLE</label>
				<textarea
					rows="2"
					placeholder="Add your post title here."
					aria-setsize="fixed"
				></textarea>
				<label for="new-post-content" class="form-label">POST CONTENT</label>
				<textarea
					rows="10"
					placeholder="Add your post content here."
					aria-setsize="fixed"
				></textarea>
			</form>
			<button type="submit" class="new-post-btn btn"><i class="fas fa-plus"></i>
				ADD POST</button>
		</div>
	</div>
</section>

<script src="js/addPost.js"></script>