{{!-- This is where users can see their dashboard of a list of their posts, and add a new post --}}

{{!-- Showing post overview (they have to click to expand the post to edit or delete) --}}
{{#each posts as |post|}}
<section class="posts-overview">
	<div class="post-overview">
		<div class="post-overview-card">
			<div class="post-title"><h3><a href="/post/{{id}}">
						{{title}}
					</a></h3></div>
			<div class="post-datetime"><p>Posted by: {{username}} at {{format_date date_created}}</p></div>
		</div>
	</div>
</section>
{{/each}}

{{!-- Showing entire post including content --}}
{{#each posts as |post| }}
<section class="posts-overview">
	<div class="card">
		<div class="card-header">
			<div class="card-title"><h3><a href="/post/{{id}}"> {{title}}</a></h3></div>
			<div class="card-datetime"><p>Posted by: {{username}} at {{format_date date_created}}</p></div>
		</div>
		<div class="card-body">
			<p>{{post_content}}</p>
		</div>
	</div>
</section>
{{/each}}

<section class="user-dashboard">
	{{#each posts as |post|}}
		<section class="posts-overview">
			<div class="post-overview">
				<div class="post-overview-card">
					<div class="post-title">
						<h3>
							<a href="/post/{{id}}">{{title}}</a>
						</h3>
					</div>
					<div class="post-datetime">
						<p>Posted by: {{username}} at {{format_date date_created}}</p>
					</div>
				</div>
			</div>
		</section>
	{{/each}}

	{{!--  --}}

    {{#each posts as |post|}}
    {{> posts post}}
    {{/each}}

	{{!--  --}}
	
    <div id="create-post-btn">
        <button type="submit" class="new-post-btn btn"><i class="fas fa-plus"></i> CREATE NEW POST</button>
    </div>
</section>

<section id="create-post-card" class="add-post hide">
	<div class="card">
		<div class="card-header">
			<div class="card-title">Create New Post</div>
		</div>
		<div class="card-body">
			<form id="new-post-form">
				<label for="new-post-title" class="form-label">TITLE</label>
				<textarea
					rows="2"
					placeholder="Add your post title here."
					aria-setsize="fixed"
				></textarea>
				<label for="new-post-content" class="form-label">POST CONTENT</label>
				<textarea
					rows="10"
					placeholder="Add your post content here."
					aria-setsize="fixed"
				></textarea>
			</form>
			<button type="submit" class="new-post-btn btn"><i class="fas fa-plus"></i>
				ADD POST</button>
		</div>
	</div>
</section>

<script src="js/addPost.js"></script>