<!-- Loop over each object in the posts array -->
{{#each posts as |post|}}

{{!-- Sample post --}}
	<div class="card">
		<div class="card-header">
			<div class="card-title"><h3><a> {{ post.title }} </a></h3></div>
			<div class="card-datetime"><p>Posted by Aaron on 06.06.2021</p></div>
		</div>
		<div class="card-body">
			<p>This is a sample post.</p>
		</div>
	</div>

{{!-- Handlebar test --}}
	<div>
		<div class="card">
			<div class="card-header">
				<h3>
					<a class="card-title" href="/post/{{post.id}}">{{Post.post.title}}</a>
				</h3>
				<p>Posted by {{User.username}} on {{format_date Post.date_created}}</p>
			</div>

			<p class="card-body">
				{{Post.post_content}}
			</p>
		</div>
	</div>

{{/each}}