{{! This is what the user will see when they click on the title of post (i.e. brings to a page with expanded post) }}
{{#if isOwner}}
	{{>editPost}}
{{else}}
<section class="posts">
	<div class="card">
		<div class="card-header">
			<div class="card-title">
				<h3 class="card-title">{{title}}</h3>
			</div>
			<div class="card-datetime">
				<p>Posted by {{user.username}} on {{date_created}}</p>
			</div>
		</div>
		<div class="card-body">
			<p>{{post_content}}</p>
		</div>
		{{#each comments as |comment|}}
		<section class="comments">
			<div class="comments-card">
				<p>{{comment_content}}</p>
			</div>
			<div class="comment-user">
				<p>{{user.username}}, {{date_created}}</p>
			</div>
		</section>
		{{/each}}
		{{#if logged_in}}
			{{>addComment}}
		{{/if}}
	</div>
</section>
{{/if}}